# do not include the binary file we are working with
device-file*
writer
checker
tmp

*.dSYM

# executable directories
bin
obj

# debug files
checker_debug.txt
writer_debug.txt

# checker output files
record-statistics.txt
records-written.txt

# ignore macOS files...
.DS_Store
